.header {
  position: relative;
  
  padding-top: 24px;
  padding-bottom: 40px;
  
  background-color: inherit;
}

.header_preview {
  background-color: var(--white);
}

.header_template {
  padding-bottom: 60px;
}

.header__items {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 38px;
}

.header_template .header__items {
  margin-bottom: 0;
}

.header__burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  
  display: none;
  width: 24px;
  height: 24px;
}

.header__burger-icon {
  width: 24px;
  height: 24px;
  
  color: var(--grey-4);
  cursor: pointer;
}

.header__logo {
  width: 110px;
}

.header__logo-icon {
  width: 110px;
  height: 32px;
  
  color: var(--black);
}

.header__menu {
  display: flex;
  gap: 56px;
}

.header__nav {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

.header__nav-item {
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  
  color: var(--grey-3);
}

.header__nav-link {
  text-decoration: none;
  font-family: inherit;
  
  color: inherit;
}

.header__nav-link:hover {
  color: var(--black);
}

.header__title {
  position: relative;
  left: -3px;
  
  margin: 0;
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  
  color: var(--black);
}

@media screen and (max-width: 1160px) {
  .header_preview, .header_template {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 620px) {
  .header__menu {
    gap: 8px;
  }
  
  .header__nav {
    gap: 8px;
  }
}

@media screen and (max-width: 520px) {
  .header_preview {
    padding-top: 20px;
  }
  
  .header_preview .header__burger-menu {
    display: block;
  }
  
  .header_preview .header__logo {
    position: relative;
    top: -4px;
  }
  
  .header_preview .header__menu {
    display: none;
  }
  
  .header_preview .header__items {
    justify-content: center;
    
    margin-bottom: 48px;
  }
  
  .header_preview .header__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    
    color: var(--grey-4);
  }
  
  .header_template {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .header_template .header__burger-menu {
    display: block;
    top: 4px;
  }
  
  .header_template .header__menu {
    display: none;
  }
  
  .header_template .header__items {
    justify-content: center;
    margin-bottom: 0;
  }
}