.header {
  position: relative;
  
  padding-top: 24px;
  padding-bottom: 40px;
  
  background-color: var(--white);
}

.header__items {
  display: flex;
  align-items: center;
  
  margin-bottom: 38px;
}

.header__logo {
  width: 110px;
}

.header__logo-icon {
  width: 110px;
  height: 32px;
  
  color: var(--black);
}

.header__title {
  position: relative;
  left: -3px;
  
  margin: 0;
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  
  color: var(--black);
}

@media screen and (max-width: 1160px) {
  .header_preview {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 520px) {
  .header_preview .header__items {
    justify-content: center;
    
    margin-bottom: 48px;
  }
  
  .header_preview .header__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    
    color: var(--grey-4);
  }
}