.page {
  background-color: var(--grey-5);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;
}

.page_template {
  display: grid;
  grid-template-rows: auto 1fr auto;
}