.avatar {
  width: 102px;
  height: 102px;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border-radius: 50%;
}

@media screen and (max-width: 520px) {
  .avatar_preview {
    width: 116px;
    height: 116px;
  }
}