.skeleton {
  box-sizing: border-box;
  width: 579px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 40px 32px 24px;
  
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.skeleton__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.skeleton__item_flex-settings {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.skeleton__ellipse {
  flex-shrink: 0;
  
  border-radius: 50%;
  background-color: var(--grey-2);
}

.skeleton__ellipse_dimensions {
  width: 64px;
  height: 64px;
}

.skeleton__lines-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton__line {
  height: 20px;
  background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__line-short {
  width: 172px;
}

.skeleton__line-middle {
  width: 257px;
}

.skeleton__line-long {
  width: 515px;
}