.skeleton {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 40px 32px 24px;
  
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.skeleton__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.skeleton__item_column {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.skeleton__ellipse {
  flex-shrink: 0;
  
  border-radius: 50%;
  background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-6) 38.47%, var(--grey-7) 56.48%, var(--grey-8) 77.5%, var(--grey-2) 102.52%);
  background-size: 200%;
  
  animation: backgroundMovement 1.5s linear infinite forwards;
}

.skeleton__ellipse_dimensions {
  width: 64px;
  height: 64px;
}

.skeleton__lines-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.skeleton__line {
  height: 20px;
  
  background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-6) 38.47%, var(--grey-7) 56.48%, var(--grey-8) 77.5%, var(--grey-2) 102.52%);
  background-size: 200%;
  
  animation: backgroundMovement 1.5s linear infinite forwards;
}

@keyframes backgroundMovement {
  0% {
    background-position: 100%;
  }
  
  100% {
    background-position: -100%;
  }
}

.skeleton__line_short {
  width: 43%;
}

.skeleton__line_middle {
  width: 64%;
}

.skeleton__line_long {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .skeleton_preview {
    padding: 16px;
  }
  
  .skeleton_preview .skeleton__line {
    height: 10px;
  }
  
  .skeleton_preview .skeleton__ellipse_dimensions {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 520px) {
  .skeleton {
    gap: 16px;
  }
}