.footer {
  padding-top: 71px;
  padding-bottom: 136px;
  
  background-color: var(--white);
}

.footer_template {
  padding-top: 92px;
  padding-bottom: 56px;
  
  background-color: var(--grey-5);
}

.footer__title {
  margin-top: 0;
  margin-bottom: 32px;
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  
  color: var(--black);
}

.footer_template .footer__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: var(--grey-3);
}

.footer__text {
  max-width: 640px;
  margin: 0 auto;
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  
  color: var(--black);
}

@media screen and (max-width: 768px) {
  .footer_preview {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 520px) {
  .footer_preview .footer__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    color: var(--grey-4);
  }
}