.footer {
  padding-top: 71px;
  padding-bottom: 136px;
  
  background-color: var(--white);
}

.footer__title {
  margin-top: 0;
  margin-bottom: 32px;
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  
  color: var(--black);
}

.footer__text {
  max-width: 640px;
  margin: 0 auto;
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  
  color: var(--black);
}