.checkbox {
  position: relative;
  
  display: inline-flex;
}

.checkbox__input {
  position: absolute;
  left: -100vw;
  opacity: 0;
}

.checkbox__state {
  display: flex;
  gap: 12px;
  align-items: center;
  
  cursor: pointer;
}

.checkbox__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  
  border: 1px solid var(--grey-2);
  border-radius: 4px;
}

.checkbox__control::before {
  position: absolute;
  
  content: "";
  width: 28px;
  height: 28px;
  
  border-radius: 50%;
}

.checkbox__input:checked ~ .checkbox__state
.checkbox__control::before {
  animation: circle 0.3s ease forwards;
}

@keyframes circle {
  0% {
    background-color: var(--black);
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.checkbox__icon {
  width: 15px;
  height: 13px;
  
  color: var(--white);
}

.checkbox__label {
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  user-select: none;
  
  color: var(--grey-4);
}

.checkbox__input:focus ~ .checkbox__state
.checkbox__label {
  text-decoration: underline;
}

.checkbox__input:checked ~ .checkbox__state
.checkbox__control {
  border-color: var(--blue);
  background-color: var(--blue);
}

.checkbox__input:disabled ~ .checkbox__state
.checkbox__control {
  border-color: var(--grey-2);
  background-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state
.checkbox__icon {
  stroke: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state
.checkbox__label {
  text-decoration: none;
  
  color: var(--grey-2);
}

@media screen and (max-width: 620px) {
  .checkbox_preview .checkbox__label {
    position: relative;
    left: -2.5px;
  }
}

@media screen and (max-width: 520px) {
  .checkbox_preview .checkbox__control{
    width: 20px;
    height: 20px;
  }
  
  .checkbox_preview .checkbox__icon {
    width: 10px;
    height: 8px;
  }
  
  .checkbox_preview .checkbox__label {
    font-size: 12px;
  }
}