.component-overview {
  padding: 32px 48px 64px;
  
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
  overflow: hidden;
}

.component-overview__inner {
  margin-bottom: 30px;
}

.component-overview__title {
  margin-top: 0;
  margin-bottom: 24px;
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  
  color: var(--grey-4);
}

@media screen and (max-width: 520px) {
  .component-overview {
    padding: 32px 16px 16px;
  }
}