.theme-toggler {
  height: 24px;
  display: flex;
  gap: 12px;
}

.theme-toggler__sun {
  width: 24px;
  height: 24px;
  
  color: var(--grey-4);
}

.theme-toggler__moon {
  width: 24px;
  height: 24px;
  
  color: var(--grey-3);
}

@media screen and (max-width: 620px) {
  .theme-toggler {
    gap: 6px;
  }
}