.preview {
  padding-top: 68px;
}

.preview_padding {
  padding-top: 36px;
  padding-bottom: 0;
}

.preview__cards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 30px;
}

.preview__template {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: max-content;
  column-gap: 56px;
}

@media screen and (max-width: 768px) {
  .preview_main-page {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 520px) {
  .preview_main-page {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}