.preview {
  padding-top: 68px;
}

.preview_template {
  padding-top: 0;
}

.preview__body {
  display: grid;
  grid-template-columns: minmax(10px, 229px) 825px;
  grid-template-rows: max-content;
  column-gap: 56px;
}

@media screen and (max-width: 1160px) {
  .preview {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 1090px) {
  .preview__body {
    column-gap: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .preview__body {
    grid-template-columns: 169px 1fr;
  }
}

@media screen and (max-width: 520px) {
  .preview_template {
    padding: 0;
  }
  
  .preview__body {
    grid-template-columns: 1fr;
  }
}